<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokeCard.Properties.Settings>
            <setting name="SubTypesUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuperTypesUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuperTypes" serializeAs="String">
                <value>Energy,Pokemon,Trainer</value>
            </setting>
            <setting name="ElementTypesUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElementTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="RaritiesUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetsUpdate" serializeAs="String">
                <value>0</value>
            </setting>
        </PokeCard.Properties.Settings>
    </userSettings>
</configuration>