:root {
    --primary: rgb(66, 219, 240);
    --link-hover: rgb(224, 241, 255);
    --galaxy: url("/simeydotme/img/galaxy.jpg");
    --Vmaxbg: url("/simeydotme/img/vmaxbg.jpg");
    --Vstar: url("/simeydotme/img/ancient.png");
    --rainbow: url("/simeydotme/img/illusion-mask.png");
    --illusion: url("/simeydotme/img/illusion.png");
    --glitter: url("/simeydotme/img/glitter.png");
    --glittersize: 25%;
    --metal: url("/simeydotme/img/metal.png");
    --trainerbg: url("/simeydotme/img/trainerbg.png");
    --illusion2: url("/simeydotme/img/illusion2.png");
    --card-aspect: 0.718;
    --radius: 4.55% / 3.5%;
    --card-edge: hsl(47, 100%, 78%);
    --card-back: hsl(205, 100%, 25%);
    --glow: hsl(175, 100%, 90%);
    --img-size: cover;
    --sunpillar-1: hsl(2, 100%, 73%);
    --sunpillar-2: hsl(53, 100%, 69%);
    --sunpillar-3: hsl(93, 100%, 69%);
    --sunpillar-4: hsl(176, 100%, 76%);
    --sunpillar-5: hsl(228, 100%, 74%);
    --sunpillar-6: hsl(283, 100%, 73%);
    --sunpillar-clr-1: var(--sunpillar-1);
    --sunpillar-clr-2: var(--sunpillar-2);
    --sunpillar-clr-3: var(--sunpillar-3);
    --sunpillar-clr-4: var(--sunpillar-4);
    --sunpillar-clr-5: var(--sunpillar-5);
    --sunpillar-clr-6: var(--sunpillar-6);
}


.pokecard:hover {
  
  --pointer-x: 25% !important;
  --pointer-y: 10% !important;
  --card-scale: 1.1 !important;
  --card-opacity: 1 !important;
  --translate-x: 0px !important;
  --translate-y: -10px !important;
  --rotate-x: 7deg !important;
  --rotate-y: -19deg !important;
  --background-x: 44% !important;
  --background-y: 36% !important;
  --pointer-from-center: .9 !important;
  --pointer-from-top: .11 !important;
  --pointer-from-left: .25 !important;
  
}

.pokecard__shine {

  display: grid;
  transform: translateZ(1px);
  overflow: hidden;
  z-index: 3;

  background: transparent;
  background-size: cover;
  background-position: center;

  filter: brightness(.85) contrast(2.75) saturate(.65);
  mix-blend-mode: color-dodge;

  opacity: var(1);

}

.pokecard__shine:before,
.pokecard__shine:after {

  --sunpillar-clr-1: var(--sunpillar-5);
  --sunpillar-clr-2: var(--sunpillar-6);
  --sunpillar-clr-3: var(--sunpillar-1);
  --sunpillar-clr-4: var(--sunpillar-2);
  --sunpillar-clr-5: var(--sunpillar-3);
  --sunpillar-clr-6: var(--sunpillar-4);

  grid-area: 1/1;
  transform: translateZ(1px);
  border-radius: var(3);

}

.pokecard__shine:after {

  --sunpillar-clr-1: var( --sunpillar-6 );
  --sunpillar-clr-2: var( --sunpillar-1 ); 
  --sunpillar-clr-3: var( --sunpillar-2 );
  --sunpillar-clr-4: var( --sunpillar-3 );
  --sunpillar-clr-5: var( --sunpillar-4 );
  --sunpillar-clr-6: var( --sunpillar-5 );

  transform: translateZ(1.2px);
  
}

.pokecard__glare {

  /* make sure the glare doesn't clip */
  transform: translateZ(1.41px);
  overflow: hidden;

  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsla(0, 0%, 100%, 0.8) 10%,
    hsla(0, 0%, 100%, 0.65) 20%,
    hsla(0, 0%, 0%, 0.5) 90%
  );

  opacity: var(1);
  mix-blend-mode: overlay;
  
}




.pokecard__shine {
    --grain: url("/simeydotme/img/grain.webp");
    --space: 6%;
    --angle: 133deg;
    --imgsize: 500px;
    --red: #f80e7b;
    --yel: #eedf10;
    --gre: #21e985;
    --blu: #0dbde9;
    --vio: #c929f1;
}


/*

  REVERSE HOLO

*/







/*

  SHINE LAYERS

*/
.pokecard {
  --foil-brightness: 0.55;
}

.pokecard[data-rarity="reverse holo"] .pokecard__shine {
  
  background-image: 
    radial-gradient( 
      circle at var(--pointer-x) var(--pointer-y),
      #fff 5%, 
      #000 50%, 
      #fff 80% 
    ), 
    linear-gradient( 
      -45deg, 
      #000 15%, 
      #fff, 
      #000 85% 
    ), 
    var(--foil);

  background-blend-mode: soft-light, difference;
  background-size: 120% 120%, 200% 200%, cover;
  background-position: center center, calc( (100% * var(--pointer-from-left))) calc( (100% * var(--pointer-from-top))) , center center;
  
  filter: brightness(var(--foil-brightness)) contrast(1.5) saturate(1);
  mix-blend-mode: color-dodge;

  opacity: calc( (1.5 * var(--card-opacity)) - var(--pointer-from-center));
  
}

.pokecard.lightning   { --foil-brightness: 0.7; }
.pokecard.darkness    { --foil-brightness: 0.8; }
.pokecard.metal       { --foil-brightness: 0.6; }









/*

  GLARE LAYERS

*/
  
.pokecard[data-rarity="reverse holo"] .pokecard__glare {

  opacity: var(--card-opacity);
  
  background-image: 
    radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 100%, 0.8) 10%,
      hsla(0, 0%, 100%, 0.5) 20%,
      hsla(0, 0%, 0%, 0.75) 90%
    );

  filter: brightness(.7) contrast(1.5);

}

.pokecard[data-rarity="reverse holo"] .pokecard__glare:after {

  content: "";
  opacity: var(--card-opacity);
  
  background-image: 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsl(0, 0%, 100%) 10%, 
      hsla(0, 0%, 100%, 0.5) 20%, 
      hsla(0, 0%, 0%, 0.5) 120% 
    );

  filter: brightness(1) contrast(1.5);

}










/*

  NO MASK

*/

.pokecard:not(.masked)[data-rarity="reverse holo"] .pokecard__shine {
  --foil: none;
  clip-path: var(--clip-invert);
}

.pokecard:not(.masked)[data-rarity="reverse holo"][data-subtypes^="stage"] .pokecard__glare:after {
  clip-path: var(--clip-stage-invert);
}

.pokecard:not(.masked)[data-rarity="reverse holo"] .pokecard__glare:after {
  clip-path: var(--clip-trainer-invert);
}




/*

  HOLO

*/

.pokecard[data-rarity="rare holo"] .pokecard__shine {

  --space: 1.5%;
  --h: 21;
  --s: 70%;
  --l: 50%;
  --bars: 4%;
  --bar-color: rgba(255, 255, 255, 0.6);
  --bar-bg: rgb(10, 10, 10);

  clip-path: inset( 11.5% 8.5% 50.5% 8.5% );

  background-image:
    repeating-linear-gradient( 90deg, 
      hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*0), hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*1), 
      black calc(var(--space)*1.001), black calc(var(--space)*1.999),
      hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*2), hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*3), 
      black calc(var(--space)*3.001), black calc(var(--space)*3.999),
      hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*4), hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*5), 
      black calc(var(--space)*5.001), black calc(var(--space)*5.999),
      hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*6), hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*7), 
      black calc(var(--space)*7.001), black calc(var(--space)*7.999),
      hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*8), hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*9), 
      black calc(var(--space)*9.001), black calc(var(--space)*9.999),
      hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*10), hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*11), 
      black calc(var(--space)*11.001), black calc(var(--space)*11.999),
      hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*12), hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*13), 
      black calc(var(--space)*13.001), black calc(var(--space)*13.999),
      hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*14), hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*15), 
      black calc(var(--space)*15.001), black calc(var(--space)*15.999),
      hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*16), hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*17), 
      black calc(var(--space)*17.001), black calc(var(--space)*17.999),
      hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*18), hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*19), 
      black calc(var(--space)*19.001), black calc(var(--space)*19.999),
      hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*20), hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*21), 
      black calc(var(--space)*21.001), black calc(var(--space)*21.999),
      hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*22), hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*23), 
      black calc(var(--space)*23.001), black calc(var(--space)*23.999),
      hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*24), hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*25), 
      black calc(var(--space)*25.001), black calc(var(--space)*25.999),
      hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*26), hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*27), 
      black calc(var(--space)*27.001), black calc(var(--space)*27.999),
      hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*28), hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*29), 
      black calc(var(--space)*29.001), black calc(var(--space)*29.999),
      hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*30), hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*31), 
      black calc(var(--space)*31.001), black calc(var(--space)*31.999)
    ),
    repeating-linear-gradient( 90deg, 
      var(--vio), var(--blu), var(--gre), var(--yel), var(--red), var(--vio)
    ),
    repeating-linear-gradient( 90deg, 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*12)
    ),
    repeating-linear-gradient( 90deg, 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*9)
    ),
    radial-gradient(
      farthest-corner circle 
        at var(--mx) var(--my), 
        rgba(230, 230, 230, 0.85) 0%, 
        rgba(200, 200, 200, .1) 25%, 
        rgb(0, 0, 0) 90%
      );

  background-blend-mode: soft-light, soft-light, screen, overlay;
  background-position: center, calc(((50% - var(--posx)) * 25) + 50%) center, calc(var(--posx)*-1.2) var(--posy), var(--pos), center;
  background-size: 100px 100px, 200% 200%, 237% 237%, 195% 195%, 120% 120%;

  filter: brightness(calc((var(--hyp) + 0.7)*0.7)) contrast(3) saturate(.35);

}







/*

  GALAXY HOLO

*/

.pokecard[data-rarity="rare holo galaxy"] .pokecard__glare {
  
  background-image:
  radial-gradient( 
    farthest-corner circle 
    at var(--mx) var(--my), 
    rgba(222, 245, 250, 0.7) 10%, 
    rgba(255, 255, 255, 0.5) 20%, 
    rgba(0, 0, 0, 0.5) 90% 
    );
    
}

.pokecard[data-rarity="rare holo"]:not([data-gallery="true"]) .pokecard__glare:after,
.pokecard[data-rarity="rare holo galaxy"] .pokecard__glare:after {

  content: "";
  clip-path: inset( 11.5% 8.5% 50.5% 8.5% );
  background-image: 
    radial-gradient( 
      farthest-corner circle 
      at var(--mx) var(--my), 
      rgb(229, 239, 255) 5%, 
      rgba(100, 100, 100, 0.5) 35%, 
      rgba(0, 0, 0, 0.9) 80% 
    );

}

.pokecard[data-rarity="rare holo galaxyFullshine"] .pokecard__shine {

  --space: 4%;

  clip-path: inset( 11.5% 8.5% 44.5% 8.5% );

  background-image: 
    var(--galaxy),
    url(''),
    url(''), 
    repeating-linear-gradient(
      82deg, 
      rgb(219, 204, 86) calc(var(--space)*1), 
      rgb(121, 199, 58) calc(var(--space)*2), 
      rgb(58, 192, 183) calc(var(--space)*3), 
      rgb(71, 98, 207) calc(var(--space)*4), 
      rgb(170, 69, 209) calc(var(--space)*5), 
      rgb(255, 90, 180) calc(var(--space)*6), 
      rgb(255, 90, 180) calc(var(--space)*7), 
      rgb(170, 69, 209) calc(var(--space)*8), 
      rgb(71, 98, 207) calc(var(--space)*9), 
      rgb(58, 192, 183) calc(var(--space)*10), 
      rgb(121, 199, 58) calc(var(--space)*11), 
      rgb(219, 204, 86) calc(var(--space)*12) 
    ), 
    radial-gradient( 
      farthest-corner circle 
      at var(--mx) var(--my), 
      rgba(255, 255, 255, 0.6) 5%, 
      rgba(150, 150, 150, .3) 40%, 
      rgb(0, 0, 0) 100% 
  );

  background-blend-mode: color-dodge, color-burn, saturation, screen;
  background-position: var(--galaxybg, cover), var(--galaxybg, cover), var(--galaxybg, cover), calc(((50% - var(--posx)) * 2.5) + 50%) calc(((50% - var(--posy)) * 2.5) + 50%), center;
  background-size: cover, cover, cover, 400% 900%, cover;

  filter: brightness(.75) contrast(1.2) saturate(1.5);
  mix-blend-mode: color-dodge;

}

.pokecard[data-rarity="rare holo galaxy"] .pokecard__shine {

  --space: 4%;

  clip-path: inset( 11.5% 8.5% 44.5% 8.5% );

  background-image: 
    var(--galaxy),
    var(--galaxy),
    var(--galaxy), 
    repeating-linear-gradient(
      82deg, 
      rgb(219, 204, 86) calc(var(--space)*1), 
      rgb(121, 199, 58) calc(var(--space)*2), 
      rgb(58, 192, 183) calc(var(--space)*3), 
      rgb(71, 98, 207) calc(var(--space)*4), 
      rgb(170, 69, 209) calc(var(--space)*5), 
      rgb(255, 90, 180) calc(var(--space)*6), 
      rgb(255, 90, 180) calc(var(--space)*7), 
      rgb(170, 69, 209) calc(var(--space)*8), 
      rgb(71, 98, 207) calc(var(--space)*9), 
      rgb(58, 192, 183) calc(var(--space)*10), 
      rgb(121, 199, 58) calc(var(--space)*11), 
      rgb(219, 204, 86) calc(var(--space)*12) 
    ), 
    radial-gradient( 
      farthest-corner circle 
      at var(--mx) var(--my), 
      rgba(255, 255, 255, 0.6) 5%, 
      rgba(150, 150, 150, .3) 40%, 
      rgb(0, 0, 0) 100% 
  );

  background-blend-mode: color-dodge, color-burn, saturation, screen;
  background-position: var(--galaxybg, cover), var(--galaxybg, cover), var(--galaxybg, cover), calc(((50% - var(--posx)) * 2.5) + 50%) calc(((50% - var(--posy)) * 2.5) + 50%), center;
  background-size: cover, cover, cover, 400% 900%, cover;

  filter: brightness(.75) contrast(1.2) saturate(1.5);
  mix-blend-mode: color-dodge;

}



.pokecard[data-rarity="rare holo"][data-subtypes^="stage"] .pokecard__shine,
.pokecard[data-rarity="rare holo galaxy"][data-subtypes^="stage"] .pokecard__shine,
.pokecard[data-rarity="rare holo"][data-subtypes^="stage"] .pokecard__glare:after,
.pokecard[data-rarity="rare holo galaxy"][data-subtypes^="stage"] .pokecard__glare:after {
  clip-path: polygon(91.78% 10%, 57% 10%, 53.92% 12.00%, 17% 12%, 16% 14%, 12% 16%, 8.5% 16%, 7.93% 47.41%, 92.07% 47.41%);
}
.pokecard[data-rarity="rare holo"][data-subtypes^="supporter"] .pokecard__shine,
.pokecard[data-rarity="rare holo galaxy"][data-subtypes^="supporter"] .pokecard__shine,
.pokecard[data-rarity="rare holo"][data-subtypes^="supporter"] .pokecard__glare:after,
.pokecard[data-rarity="rare holo galaxy"][data-subtypes^="supporter"] .pokecard__glare:after {
  clip-path: inset(14.5% 7.9% 48.2% 8.7%);
}





/*

  V

*/

.pokecard[data-rarity="promo"][data-subtypes="basic v"] .pokecard__shine,
.pokecard[data-rarity="promo"][data-subtypes="basic v"] .pokecard__shine:after,
.pokecard[data-rarity="rare holo v"] .pokecard__shine,
.pokecard[data-rarity="rare holo v"] .pokecard__shine:after {
    --space: 5%;
    --angle: 133deg;
    --imgsize: 500px;
    background-image: var(--grain), repeating-linear-gradient( 0deg, rgb(255, 119, 115) calc(var(--space)*1), rgba(255,237,95,1) calc(var(--space)*2), rgba(168,255,95,1) calc(var(--space)*3), rgba(131,255,247,1) calc(var(--space)*4), rgba(120,148,255,1) calc(var(--space)*5), rgb(216, 117, 255) calc(var(--space)*6), rgb(255, 119, 115) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12% ), radial-gradient( farthest-corner circle at var(--mx) var(--my), rgba(0, 0, 0, .1) 12%, rgba(0, 0, 0, .15) 20%, rgba(0, 0, 0, .25) 120% );
    background-blend-mode: screen, hue, hard-light;
    background-size: var(--imgsize) 100%, 200% 700%, 300% 100%, 200% 100%;
    background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
    filter: brightness(.8) contrast(2.95) saturate(.5);
}

.pokecard[data-rarity="rare holo v"] .pokecard__shine:after {

  content: "";

  background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);
  background-size: var(--imgsize) 100%, 200% 400%, 195% 100%, 200% 100%;

  filter: brightness(1) contrast(2.5) saturate(1.75);
  mix-blend-mode: soft-light;

}





/*

  VMAX

*/

.pokecard[data-rarity="rare holo vmax"] .pokecard__shine {
  --space: 6%;
  --angle: 133deg;
  --imgsize: 60% 30%;
  background-image:
    var(--Vmaxbg),
    repeating-linear-gradient( -33deg, 
      rgb(206, 42, 36) calc(var(--space)*1),  
      rgb(157, 170, 223) calc(var(--space)*2), 
      rgb(45, 153, 146) calc(var(--space)*3), 
      rgb(29, 151, 36) calc(var(--space)*4), 
      rgb(181, 64, 228) calc(var(--space)*5), 
      rgb(206, 42, 36) calc(var(--space)*6)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      rgba(14, 21, 46, 0.5) 0%, 
      hsl(180, 10%, 50%) 2.5%, 
      hsl(83, 50%, 35%) 5%, 
      hsl(180, 10%, 50%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(6, 218, 255, 0.6) 0%, 
      rgba(38, 235, 127, 0.6) 25%, 
      rgba(155, 78, 228, 0.6) 50%, 
      rgba(228, 78, 90, 0.6) 75%
    );

  background-blend-mode: color-burn, screen, soft-light;
  background-size: var(--imgsize), 1100% 1100%, 600% 600%, 200% 200%;
  background-position: 
    center, 
    0% var(--posy), 
    var(--posx) var(--posy), 
    var(--posx) var(--posy);

  filter: brightness(calc((var(--hyp)*0.3) + 0.5)) contrast(2.5) saturate(.6);

}


/*
.pokecard-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    transform-style: preserve-3d;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    position: relative
}

.pokecard-grid.active {
    z-index: 99
}*/
/*
@media screen and (min-width: 600px) {
    .pokecard-grid {
        grid-template-columns: 1fr 1fr
    }
}

@media screen and (min-width: 900px) {
    .pokecard-grid {
        grid-template-columns: 1fr 1fr 1fr
    }
}
*/
.pokecard__glare {
    transform: translateZ(1.4px);
    background: radial-gradient(farthest-corner circle at var(--mx) var(--my),rgba(255,255,255,.8) 10%,rgba(255,255,255,.65) 20%,rgba(0,0,0,.5) 90%);
    mix-blend-mode: overlay;
    opacity: var(--o)
}

.pokecard__glare.holo:not(.v):not(.vmax):not(.vstar) {
    opacity: calc(var(--o)*.8);
    filter: brightness(.8) contrast(1.5)
}

.pokecard__glare.v, .pokecard__glare.vfull, .pokecard__glare.vmax, .pokecard__glare.vstar {
    filter: brightness(.9) contrast(1.75);
    background: radial-gradient(farthest-corner circle at var(--mx) var(--my),rgb(255,255,255) 0%,rgba(133,137,141,.33) 45%,rgba(100,100,100,.65) 120%);
    opacity: calc(var(--o)*.66)
}

.pokecard__glare.vmax {
    background: radial-gradient(farthest-corner circle at var(--mx) var(--my),rgba(255,255,255,.75) 0%,rgba(99,99,99,.35) 45%,rgba(0,0,0,1) 120%)
}

.pokecard[data-rarity="rare holo"][data-gallery=true] .pokecard__glare {
    background: radial-gradient(farthest-corner circle at var(--mx) var(--my),rgba(255,255,255,.8) 10%,rgba(255,255,255,.6) 35%,rgba(0,0,0,1) 85%)
}

.pokecard[data-rarity="radiant rare"] .pokecard__glare {
    background-image: radial-gradient(farthest-corner circle at var(--mx) var(--my),rgba(255,255,255,.9) 10%,rgba(255,255,255,.6) 30%,rgba(0,0,0,.8) 80%)
}

.pokecard__shine {
    display: grid;
    overflow: hidden;
    z-index: 3;
    transform: translateZ(1px);
    background: transparent;
    mix-blend-mode: color-dodge;
    filter: brightness(.85) contrast(2.75) saturate(.65);
    background-size: cover;
    background-position: center;
    opacity: var(--o)
}

.pokecard__shine:before {
    grid-area: 1/1;
    transform: translateZ(1px)
}

.pokecard__shine:after {
    grid-area: 1/1;
    transform: translateZ(1.2px);
    border-radius: var(--radius)
}

:root {
    --mx: 50%;
    --my: 50%;
    --s: 1;
    --o: 0;
    --tx: 0px;
    --ty: 0px;
    --rx: 0deg;
    --ry: 0deg;
    --pos: 50% 50%;
    --posx: 50%;
    --posy: 50%;
    --hyp: 0
}

.pokecard {
    --radius: 4.55% / 3.5%;
    --back: #004177;
    --glow: #69d1e9;
    z-index: calc(var(--s) * 100);
    transform: translateZ(.1px);
    -webkit-transform: translate3d(0,0,.1px);
    will-change: transform,visibility;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d
}

.pokecard.interacting {
    z-index: calc(var(--s) * 120)
}

.pokecard.active .pokecard__translater, .pokecard.active .pokecard__rotator {
    touch-action: none
}

.pokecard__translater, .pokecard__rotator {
    display: grid;
    perspective: 300px;
    transform-origin: center;
    -webkit-transform-origin: center;
    will-change: transform
}

.pokecard__translater {
    width: auto;
    position: relative;
    transform: translate3d(var(--tx),var(--ty),0) scale(var(--s));
    -webkit-transform: translate3d(var(--tx),var(--ty),0) scale(var(--s))
}

.pokecard__rotator {
    transform: rotateY(var(--rx)) rotateX(var(--ry));
    transform-style: preserve-3d;
    -webkit-transform: rotateY(var(--rx)) rotateX(var(--ry));
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 10px 20px -5px #000;
    border-radius: var(--radius);
    outline: none;
    transition: box-shadow .4s ease,outline .2s ease
}

button.pokecard__rotator {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: top;
    padding: 0
}

/*.pokecard.active .pokecard__rotator {
    box-shadow: 0 0 10px 0 var(--glow),0 0 10px 0 var(--glow),0 0 30px 0 var(--glow)
}

.pokecard__rotator:focus {
    box-shadow: 0 0 10px 0 var(--glow),0 0 10px 0 var(--glow),0 0 30px 0 var(--glow)
}*/

.pokecard.active .pokecard__rotator:focus {
    box-shadow: 0 10px 30px 3px #000
}

.pokecard__rotator * {
    width: 100%;
    display: grid;
    grid-area: 1/1;
    border-radius: var(--radius);
    image-rendering: optimizeQuality;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d
}

.pokecard__rotator img {
    outline: 1px solid transparent;
    aspect-ratio: .716;
    height: auto
}

.pokecard__back {
/*    background-color: var(--back);*/
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
    backface-visibility: visible
}

.pokecard__front, .pokecard__front  {
    backface-visibility: hidden
}

.pokecard__front {
    opacity: 1;
    transition: opacity .33s ease-out
}

.loading .pokecard__front {
    opacity: 0
}

.loading .pokecard__back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0deg)
}

.back-to-top {
    color: inherit;
    text-decoration: none
}





/*

  VSTAR

*/

.pokecard[data-rarity="rare holo vstar"] .pokecard__shine,
.pokecard[data-rarity="rare holo vstar"] .pokecard__shine:after,
.pokecard[data-rarity="rare holo gx"] .pokecard__shine, 
.pokecard[data-rarity="rare holo gx"] .pokecard__shine:after,
.pokecard[data-rarity="rare holo ex"] .pokecard__shine, 
.pokecard[data-rarity="rare holo ex"] .pokecard__shine:after
{
    --space: 5%;
    --angle: 133deg;
    --mask: none;
    --foil: var(--Vstar);
    --imgsize: 18% 15%;
    background-image: var(--foil), repeating-linear-gradient( 0deg, var(--sunpillar-clr-1) calc(var(--space)*1), var(--sunpillar-clr-2) calc(var(--space)*2), var(--sunpillar-clr-3) calc(var(--space)*3), var(--sunpillar-clr-4) calc(var(--space)*4), var(--sunpillar-clr-5) calc(var(--space)*5), var(--sunpillar-clr-6) calc(var(--space)*6), var(--sunpillar-clr-1) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12% ), radial-gradient( farthest-corner circle at var(--posx) var(--posy), hsla(0, 0%, 0%, 0.1) 12%, hsla(0, 0%, 0%, 0.15) 20%, hsla(0, 0%, 0%, 0.25) 120% );
    background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
    background-position: center center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
    background-blend-mode: exclusion, hue, hard-light;
    filter: brightness(calc((var(--hyp) * .25) + .35)) contrast(1.8) saturate(1.75);
}

.pokecard[data-rarity="rare holo gx"] .pokecard__shine:after,
.pokecard[data-rarity="rare holo ex"] .pokecard__shine:after,
.pokecard[data-rarity="rare holo vstar"] .pokecard__shine:after {
    content: "";
    background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
    background-position: center center, 0% var(--posx), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posy) var(--posy);
    filter: brightness(calc((var(--hyp) * .75) + .5)) contrast(1.5) saturate(1.5);
    mix-blend-mode: exclusion;
}

.pokecard[data-rarity="rare holo gx"] .pokecard__shine:before,
.pokecard[data-rarity="rare holo ex"] .pokecard__shine:before,
.pokecard[data-rarity="rare holo vstar"] .pokecard__shine:before {
    content: "";
    background-image: radial-gradient( farthest-corner circle at var(--mx) var(--my), hsla(190, 7%, 80%, 0.75) 0%, hsla(260, 7%, 50%, 0.25) 45%, hsl(310, 7%, 50%) 120% );
    mix-blend-mode: hard-light;
    z-index: 2;
    opacity: 0.8;
}

.pokecard[data-rarity="rare holo gx"] .pokecard__glare,
.pokecard[data-rarity="rare holo ex"] .pokecard__glare,
.pokecard[data-rarity="rare holo vstar"] .pokecard__glare {
    filter: brightness(.7) contrast(2);
    background-image: radial-gradient( farthest-corner circle at var(--posx) var(--posy), hsl(195, 90%, 90%) 5%, hsl(300, 3%, 60%) 60%, hsl(350, 0%, 15%) 150% );
    mix-blend-mode: hard-light;
    opacity: calc(var(--card-opacity)*(var(--hyp)*.45));
}





/*

  FULL / ALTERNATE ART

*/

.pokecard[data-rarity="rare ultra"] .pokecard__shine {
    --space: 5%;
    --angle: 133deg;
    --imgsize: 500px;
    background-image: var(--grain), repeating-linear-gradient( 0deg, rgb(255, 119, 115) calc(var(--space)*1), rgba(255,237,95,1) calc(var(--space)*2), rgba(168,255,95,1) calc(var(--space)*3), rgba(131,255,247,1) calc(var(--space)*4), rgba(120,148,255,1) calc(var(--space)*5), rgb(216, 117, 255) calc(var(--space)*6), rgb(255, 119, 115) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12% ), radial-gradient( farthest-corner circle at var(--mx) var(--my), rgba(0, 0, 0, .1) 12%, rgba(0, 0, 0, .15) 20%, rgba(0, 0, 0, .25) 120% );
    background-blend-mode: screen, hue, hard-light;
    background-size: var(--imgsize) 100%, 200% 700%, 300% 100%, 200% 100%;
    background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
    filter: brightness(.8) contrast(2.95) saturate(.5);
}

.pokecard[data-rarity="rare ultra"] .pokecard__shine:after {
    --space: 5%;
    --angle: 133deg;
    --imgsize: 30% 32%;
    content: "";
    background-image: var(--illusion), repeating-linear-gradient( 0deg, rgb(255, 119, 115) calc(var(--space)*1), rgba(255,237,95,1) calc(var(--space)*2), rgba(168,255,95,1) calc(var(--space)*3), rgba(131,255,247,1) calc(var(--space)*4), rgba(120,148,255,1) calc(var(--space)*5), rgb(216, 117, 255) calc(var(--space)*6), rgb(255, 119, 115) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12% ), radial-gradient( farthest-corner circle at var(--mx) var(--my), rgba(0, 0, 0, .1) 12%, rgba(0, 0, 0, .15) 20%, rgba(0, 0, 0, .25) 120% );
    background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);
    background-blend-mode: exclusion, hue, hard-light;
    background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
    filter: brightness(1) contrast(1.5) saturate(1.75);
    mix-blend-mode: soft-light;
}

/*

  TRAINER FULL-ART

*/

.pokecard[data-rarity="rare ultra"][data-subtypes*="supporter"] .pokecard__shine,
.pokecard[data-rarity="rare ultra"][data-subtypes*="supporter"] .pokecard__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: 25% 20%;

  background-image:
  var(--trainerbg),
    repeating-linear-gradient( 0deg, 
      rgb(255, 119, 115) calc(var(--space)*1), 
      rgba(255,237,95,1) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgba(120,148,255,1) calc(var(--space)*5), 
      rgb(216, 117, 255) calc(var(--space)*6), 
      rgb(255, 119, 115) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(0, 0, 0, .1) 12%, 
      rgba(0, 0, 0, .15) 20%, 
      rgba(0, 0, 0, .25) 120%
    );

  background-blend-mode: difference, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);

  filter: brightness(0.75) contrast(2.5) saturate(.75);
  
}

.pokecard[data-rarity="rare ultra"][data-subtypes*="supporter"] .pokecard__shine:after {

  content: "";

  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
  background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);

  filter: brightness(1.2) contrast(1) saturate(1.75);
  mix-blend-mode: exclusion;

}





/*

  RAINBOW SECRET

*/

.pokecard[data-rarity="rare rainbow"] .pokecard__shine {
    --r-clr-1: hsl(0, 57%, 37%);
    --r-clr-2: hsl(40, 53%, 39%);
    --r-clr-3: hsl(90, 60%, 35%);
    --r-clr-4: hsl(180, 60%, 35%);
    --r-clr-5: hsl(180, 60%, 35%);
    --r-clr-6: hsl(210, 57%, 39%);
    --r-clr-7: hsl(280, 55%, 31%);
    background-image: linear-gradient(-45deg, var(--r-clr-1), var(--r-clr-5)), var(--glitter), linear-gradient( -30deg, var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1) );
    background-blend-mode: luminosity, soft-light;
    background-size: 200% 200%, var(--glittersize) var(--glittersize), 400% 400%;
    background-position: calc( 25% + (50% * var(--pointer-from-left) )) calc( 25% + (50% * var(--pointer-from-top) )), center center, calc( 25% + (var(--posx) / 2 ) ) calc( 25% + (var(--posy) / 2 ) );
    filter: brightness(calc((var(--hyp)*0.015) + 0.6)) contrast(3.2) saturate(0.075);
}

.pokecard[data-rarity="rare rainbow"] .pokecard__shine:after {
    content: "";
    -webkit-mask-image: none !important;
    mask-image: none !important;
    background-image: var(--glitter), linear-gradient( -60deg, var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), var(--r-clr-1) );
    background-blend-mode: soft-light;
    background-size: var(--glittersize) var(--glittersize), 400% 400%;
    background-position: center center, var(--posx) var(--posy);
    filter: brightness(calc((var(--hyp)*0.3) + 0.55)) contrast(2) saturate(1);
    mix-blend-mode: color-dodge;
}

.pokecard[data-rarity="rare rainbow"] .pokecard__shine:before {
    --foil: url("/simeydotme/img/illusion-mask.png");
    --imgsize: 33%;
    content: "";
    background-image: var(--foil);
    background-size: var(--imgsize);
    background-position: center center;
    filter: brightness(2.5) contrast(1);
    opacity: calc((var(--hyp) +0.4 ) * 0.6 );
    background-blend-mode: difference;
    mix-blend-mode: darken;
}






/*

  GLARE LAYERS

*/

.pokecard[data-rarity="rare rainbow"] .pokecard__glare {
    background-image: radial-gradient( farthest-corner circle at var(--posx) var(--posy), hsl(0,0%,80%), hsla(187, 10%, 85%, 0.25) 30%, hsl(197, 6%, 25%) 120% );
    filter: brightness(.9) contrast(1.75);
    opacity: calc( var(--hyp) * 0.9 );
    mix-blend-mode: hard-light;
}









/*

  RAINBOW SECRET FULL/ALT

*/

.pokecard[data-rarity="rare rainbow alt"] .pokecard__shine,
.pokecard[data-rarity="rare rainbow alt"] .pokecard__shine:after {

  filter: brightness(calc((var(--hyp)*0.25) + 0.66)) contrast(3) saturate(.7);

}




/*

  GOLD SECRET

*/
.pokecard[data-rarity="rare secret"] .pokecard__shine {

  --shift: 1px;
  --imgsize: cover;

  background-image:
    var(--glitter), 
    var(--glitter), 
    conic-gradient( 
      var(--sunpillar-clr-4), 
      var(--sunpillar-clr-5),
      var(--sunpillar-clr-6), 
      var(--sunpillar-clr-1), 
      var(--sunpillar-clr-4) 
    ), 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(150, 00%, 0%, .98) 10%, 
      hsla(0, 0%, 95%, .15) 90% 
    );

  background-size: var(--glittersize) var(--glittersize), var(--glittersize) var(--glittersize), cover, cover;
  background-position: 45% 45%, 55% 55%, center center, center center;
  background-blend-mode: soft-light, hard-light, overlay;
  mix-blend-mode: color-dodge;
  filter: brightness(calc( 0.4 + (var(--pointer-from-center) * 0.2) )) contrast(1) saturate(2.7);

}

.pokecard[data-rarity="rare secret"] .pokecard__shine:before {
  
  content: "";
  -webkit-mask-image: none !important;
  mask-image: none !important;

  background-image:
    var(--foil), 
    linear-gradient( 45deg, hsl(46, 95%, 50%), hsl(52, 100%, 69%) ), 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(10, 20%, 90%, 0.95) 10%, 
      hsl(0, 0%, 0%) 70% 
    );

  background-size: var(--imgsize), cover, cover;
  background-position: center center, center center, center center;
  background-blend-mode: hard-light, multiply;

  mix-blend-mode: lighten;
  filter: brightness(1.25) contrast(1.25) saturate(0.35);
  opacity: .8;

}

.pokecard[data-rarity="rare secret"] .pokecard__shine:after {

  --angle: 110deg;
  --imgsize: 28% 23%;

  background-image:
    var(--glitter),
    repeating-linear-gradient( var(--angle), 
      rgba(89, 46, 80, 0.5) 0%, 
      hsl(39, 37%, 60%) 2.5%, 
      rgb(216, 183, 92) 5%, 
      hsl(39, 37%, 60%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
    ), 
    var(--metal);

  background-size: 25% 25%, 600% 100%, var(--imgsize);
  background-position: center, var(--posx) var(--posy), center;
  background-blend-mode: color-burn, darken;

  filter: brightness(calc((var(--hyp)*0.4) + 0.7)) contrast(3) saturate(.66);


}

.pokecard[data-rarity="rare secret"] .pokecard__shine:after {

  content: "";

  background-image:
    var(--glitter),
    repeating-linear-gradient( var(--angle), 
      rgba(89, 46, 80, 0.5) 0%, 
      hsl(39, 37%, 60%) 2.5%, 
      rgb(216, 183, 92) 5%, 
      hsl(39, 37%, 60%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
    );

  background-position: center, calc( var(--posx) * -1 ) calc( var(--posy) * -1 ), center;

  filter: brightness(calc((var(--hyp)*0.3) + 0.7)) contrast(2.5) saturate(.66);
  mix-blend-mode: exclusion;

}





/*

  RADIANT

*/

.pokecard[data-rarity*="radiant"] .pokecard__shine {

  --barwidth: 1.2%;
  --space: 200px;

  clip-path: inset(2.8% 4% round 2.55% / 1.5%);

  background-image: 
    repeating-linear-gradient( 0deg, 
      hsl(180, 70%, 50%) calc(var(--space)*1), 
      hsl(110, 80%, 50%) calc(var(--space)*2), 
      hsl(80, 90%, 50%) calc(var(--space)*3), 
      hsl(50, 90%, 50%) calc(var(--space)*4), 
      hsl(80, 90%, 50%) calc(var(--space)*5), 
      hsl(110, 80%, 50%) calc(var(--space)*6), 
      hsl(180, 70%, 50%) calc(var(--space)*7) 
    ),
    repeating-linear-gradient( 
      45deg, 
      hsl(0,0%,10%) 0% ,  
      hsl(0,0%,10%) 1% , 
      hsl(0,0%,10%) var(--barwidth),
      hsl(0,0%,20%) calc( var(--barwidth) + 0.01% ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 2 ),
      hsl(0,0%,35%) calc( var(--barwidth) * 2 + 0.01% ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 3 ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 3 + 0.01% ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 4 ) ,
      hsl(0,0%,50%) calc( var(--barwidth) * 4 + 0.01% ) ,
      hsl(0,0%,50%) calc( var(--barwidth) * 5 ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 5 + 0.01% ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 6 ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 6 + 0.01% ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 7 ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 7 + 0.01% ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 8 )  ,
      hsl(0,0%,10%) calc( var(--barwidth) * 8 + 0.01% ) ,
      hsl(0,0%,10%) calc( var(--barwidth) * 9 )  ,
      hsl(0,0%,0%) calc( var(--barwidth) * 9 + 0.01% ) ,
      hsl(0,0%,0%) calc( var(--barwidth) * 10 ) 
    ),
    repeating-linear-gradient( 
      -45deg, 
      hsl(0,0%,10%) 0% ,  
      hsl(0,0%,10%) 1% , 
      hsl(0,0%,10%) var(--barwidth),
      hsl(0,0%,20%) calc( var(--barwidth) + 0.01% ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 2 ),
      hsl(0,0%,35%) calc( var(--barwidth) * 2 + 0.01% ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 3 ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 3 + 0.01% ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 4 ) ,
      hsl(0,0%,50%) calc( var(--barwidth) * 4 + 0.01% ) ,
      hsl(0,0%,50%) calc( var(--barwidth) * 5 ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 5 + 0.01% ) ,
      hsl(0,0%,42.5%) calc( var(--barwidth) * 6 ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 6 + 0.01% ) ,
      hsl(0,0%,35%) calc( var(--barwidth) * 7 ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 7 + 0.01% ) ,
      hsl(0,0%,20%) calc( var(--barwidth) * 8 )  ,
      hsl(0,0%,10%) calc( var(--barwidth) * 8 + 0.01% ) ,
      hsl(0,0%,10%) calc( var(--barwidth) * 9 )  ,
      hsl(0,0%,0%) calc( var(--barwidth) * 9 + 0.01% ) ,
      hsl(0,0%,0%) calc( var(--barwidth) * 10 ) 
    );

  background-size: 400% 400%, 210% 210%, 210% 210%;
  background-position: 
    calc( ((var(--posx) - 50%) * -2.5) + 50% ) calc( ((var(--posy) - 50%) * -2.5) + 50% ), 
    calc( ((var(--posx) - 50%) * 1.5) + 50% ) calc( ((var(--posy) - 50%) * 1.5) + 50% ), 
    calc( ((var(--posx) - 50%) * 1.5) + 50% ) calc( ((var(--posy) - 50%) * 1.5) + 50% );

  background-blend-mode: exclusion, darken, color-dodge;

  filter: brightness(.95) contrast(4) saturate(0.75);
  mix-blend-mode: color-dodge;

}

.pokecard[data-rarity*="radiant"] .pokecard__shine:after {

  content: "";

  background-image: 
    var(--glitter), 
    repeating-linear-gradient( 55deg, 
    rgb(255, 161, 158) calc(var(--space)*1), 
    rgb(85, 178, 255) calc(var(--space)*2), 
    rgb(255, 199, 146) calc(var(--space)*3), 
    rgb(130, 255, 213) calc(var(--space)*4), 
    rgb(253, 170, 240) calc(var(--space)*5), 
    rgb(148, 241, 255) calc(var(--space)*6), 
    rgb(255, 161, 158) calc(var(--space)*7) 
  );

  background-size: 25% 25%, 400% 100%;
  background-position: center, calc( ((var(--posx) - 50%) * -2.5) + 50% ) calc( ((var(--posy) - 50%) * -2.5) + 50% );
  
  filter: brightness(1) contrast(1) saturate(0);
  mix-blend-mode: soft-light;

  background-blend-mode: multiply;
  
}

.pokecard[data-rarity*="radiant"] .pokecard__shine:before {
  
  content: "";
  z-index: 7;
  grid-area: 1/1;

  background-image:
    radial-gradient(
      farthest-corner ellipse 
      at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ),
      rgba(100, 100, 100, .5) 5%, 
      rgba(50, 50, 50, .4) 15%, 
      rgba(0, 0, 0, .6) 30%
    );

  background-image:
    radial-gradient( farthest-corner ellipse at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ), rgba(100, 100, 100, .8) 10%, rgba(50, 50, 50, .34) 20%, rgba(0, 0, 0, 1) 50% );

  background-position: center;
  background-size: 350% 350%;

  mix-blend-mode: multiply;

}





/*

  TRAINER GALLERY HOLO

*/

.pokecard[data-rarity="rare holo"][data-gallery="true"] .pokecard__shine {

  --space: 5%;
  --angle: -22deg;
  --imgsize: 200% 400%;

  clip-path: inset(2.8% 4% round 2.55% / 1.5%);

  background-image:
    repeating-linear-gradient( var(--angle),  
      rgba(174, 102, 202, 0.75) calc(var(--space)*1),
      rgba(228, 77, 72, 0.75) calc(var(--space)*2), 
      rgba(216, 197, 55, 0.75) calc(var(--space)*3),  
      rgba(124, 201, 62, 0.75) calc(var(--space)*4),  
      rgba(80, 177, 170, 0.75) calc(var(--space)*5),  
      rgba(136, 160, 255, 0.75) calc(var(--space)*6), 
      rgba(176, 105, 204, 0.75) calc(var(--space)*7)
    );
    
    background-blend-mode: color-dodge;
    background-size: var(--imgsize);
    background-position: 0% calc(var(--posy) * 1), var(--posx) var(--posy);
    
    filter: brightness(calc((var(--hyp)*0.3) + 0.6)) contrast(2.3) saturate(1.1);

}

.pokecard[data-rarity="rare holo"][data-gallery="true"] .pokecard__shine:after {
  
  content: "";

  background-image: 
    radial-gradient( 
      farthest-corner ellipse 
      at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ), 
      rgb(255, 255, 255) 5%, 
      rgba(55, 0, 55, .6) 25%, 
      rgb(55, 55, 55) 90% 
    );

  background-position: center;
  background-size: 200% 200%;

  filter: brightness(calc((var(--hyp)*0.2) + 0.4)) contrast(.85) saturate(1.1);
  mix-blend-mode: hard-light;

}





/*

  TRAINER GALLERY V

*/

.pokecard[data-rarity="rare holo v"][data-gallery="true"] .pokecard__shine,
.pokecard[data-rarity="rare holo v"][data-gallery="true"] .pokecard__shine:after {

  --space: 5%;
  --angle: 133deg;
  --img: var(--illusion);
  --imgsize: 60% 52%;

  background-image:
    var(--img),
    repeating-linear-gradient( 0deg, 
      rgb(255, 119, 115) calc(var(--space)*1), 
      rgba(255,237,95,1) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgba(120,148,255,1) calc(var(--space)*5), 
      rgb(216, 117, 255) calc(var(--space)*6), 
      rgb(255, 119, 115) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(0, 0, 0, .1) 12%, 
      rgba(0, 0, 0, .15) 20%, 
      rgba(0, 0, 0, .25) 120%
    );

  background-blend-mode: exclusion, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);

  filter: brightness(calc((var(--hyp)*0.4) + .5)) contrast(2.5) saturate(1);

}

.pokecard[data-rarity="rare holo v"][data-gallery="true"] .pokecard__shine:after {

  content: "";

  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
  background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);

  filter: brightness(calc((var(--hyp)*0.5) + .7)) contrast(2) saturate(1);
  mix-blend-mode: exclusion;

}


.pokecard[data-rarity="rare holo v"][data-gallery="true"][data-subtypes*="vmax"] .pokecard__shine,
.pokecard[data-rarity="rare holo v"][data-gallery="true"][data-subtypes*="vmax"] .pokecard__shine:after {

    --img: var(--illusion);
    --imgsize: 30% 26%;

}





.cardZoom {
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -418px;
    margin-left: -300px;
}