/*

  ULTRA RARE (FULL ART TRAINER)
  some styles inherited from v-full-art.css

*/





/*

  SHINE LAYERS

*/

.pokecard[data-subtypes*="supporter"][data-rarity="rare ultra"] .pokecard__shine {
  
  filter: brightness(calc((var(--pointer-from-center)*0.05) + .8)) contrast(1.75) saturate(1.2);

}

.pokecard[data-subtypes*="supporter"][data-rarity="rare ultra"] .pokecard__shine:after {

  filter: brightness(calc((var(--pointer-from-center)*.4) + .85)) contrast(2) saturate(.5);

}

.pokecard[data-subtypes*="supporter"][data-rarity="rare ultra"] .pokecard__shine:before {

  background-image: 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsl(0, 0%, 100%) 0%, 
      hsla(0, 0%, 0%, 0) 80% 
    );
  
  mix-blend-mode: screen;
  opacity: 0.5;
  
}










/*

  GLARE LAYERS

*/

.pokecard[data-rarity="rare ultra"][data-subtypes*="supporter"] .pokecard__glare {

  opacity: calc( var(--card-opacity) * .75 );
  mix-blend-mode: multiply;
  filter: brightness(1.5) contrast(1.4) saturate(1);
  background-size: 170% 170%;

}










/*

  NO MASK

*/

.pokecard:not(.masked)[data-subtypes*="supporter"][data-rarity="rare ultra"] .pokecard__shine,
.pokecard:not(.masked)[data-subtypes*="supporter"][data-rarity="rare ultra"] .pokecard__shine:after {

  --mask: none;
  --foil: url("/simeydotme/img/trainerbg.png"); 
  --imgsize: 20%;
  
  background-blend-mode: color-burn, hue, hard-light;
  filter: brightness(calc((var(--pointer-from-center)*0.05) + .6)) contrast(1.5) saturate(1.2);

}