@using System.Net;
@using PokeCardManager.Data;
@using PokeCardManager.Classes;
@using PokeCardManager.Shared;

@inherits LayoutComponentBase
@page "/"
@page "/index"

@layout MainLayout

@inject NavigationManager NavManager
@inject IJSRuntime JS
@namespace PokeCardManager.Pages
<p>-</p>