@using System.Net;
@using PokeCardManager.Data;
@using PokeCardManager.Classes;
@using PokeCardManager.Shared;

@inherits LayoutComponentBase
@page "/search2"
@page "/search2/{QueryHash?}"

@layout MainLayout

@inject NavigationManager NavManager
@inject IJSRuntime JS

<div class="card radius-10 m-0 p-0">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <span class="mb-0 pe-3 text-secondary" id="searchText"></span>
            </div>
        </div>
    </div>
</div>
<div id="search-container">
    <div class="poke-card-container p-1" id="pcc-search">
    
        <InfiniteScroll ObserverTargetId="searchSpinner" ObservableTargetReached="(e) => GetCards()">
            @foreach (CardX card in Cards)
            {
                <PokeCard card="@card" />
            }
            <div class="spinner-grow me-3 ps-3" role="status" id="searchSpinner">
                <span class="visually-hidden">Loading...</span>
            </div>
        </InfiniteScroll>
    
    </div>
</div>

<div class="clearfix p-5"></div>

@code {
    [Parameter]
    public string QueryHash { get; set; }
    public string Timex { get; set; }

    public string LastHash { get; set; }     = "";
    public int PageNumber { get; set; }      = 0;
    public string TotalResults { get; set; } = "";
    public List<CardX> Cards { get; set; }   = new List<CardX>();

    private IJSObjectReference module;

    private List<CardX> Results = null;

    // call OnParameters 

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);


    }

    protected override void OnParametersSet()
    {
        Cards.Clear();
        PageNumber = 0;
        StateHasChanged();
    }

    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/Pages/Search2.razor.js");
        }

        await module.InvokeVoidAsync("initCardEffects");

    }

    async Task<IEnumerable<CardX>> GetCards()
    {
        List<CardX> NewCards = new();

        if (QueryHash != LastHash)
        {
            LastHash    = QueryHash;
            PageNumber  = 0;
        }

        if (++PageNumber > 1)
        {
            if ( Math.Ceiling((decimal)PokeAPI.ResultSet.TotalCount / Config.Settings.PerPage) < PageNumber )
            {
                return NewCards;
            }
        }

        PokeAPI.PageNumber = PageNumber;

        NewCards = await PokeAPI.CardSearch();

        Cards.AddRange(NewCards);

        await module.InvokeVoidAsync("initCardEffects");
        await module.InvokeVoidAsync("updateResultCount", PokeAPI.ResultSet.TotalCount);

        return NewCards;
    }
}