@using System.Net;
@using PokeCardManager.Data;
@using PokeCardManager.Classes;

@inherits LayoutComponentBase
@page "/search/{queryhash}"

@inject IJSRuntime JS

<div class="card radius-10 m-0 p-0">
    <div class="card-body">
        <div class="d-flex align-items-center">
            @if (Results == null)
            {
                <div>
                    <span class="mb-0 pe-3 text-secondary" id="searchText">Searching...</span>
                </div>
                <div class="spinner-grow left me-3 ps-3" role="status" id="searchSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            else
            {
                <div>
                    <span class="mb-0 pe-3 text-secondary" id="searchText">Results: @PokeAPI.ResultSet.TotalCount</span>
                </div>
            }
        </div>
    </div>
</div>
<div id="search-container">
    <div class="poke-card-container p-1" id="pcc-search">
    
        @if (Results != null && Results.Count > 0)
        {
            @foreach (var card in Results)
            {
                <PokeCard card="@card" />
            }
        }        
    </div>
</div>

<div class="clearfix p-5"></div>

@code {
    [Parameter]
    public string queryhash { get; set; }

    private IJSObjectReference module;

    private List<CardX> Results = null;

    protected override async Task OnParametersSetAsync()
    {
        Results = null;
        Results = await PokeAPI.CardSearch();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/Pages/Search.razor.js");
        }

        await module.InvokeVoidAsync("initCardEffects");
    }
}