@page "/Search"

<div class="card radius-10 m-0 p-0">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <span class="mb-0 pe-3 text-secondary" id="searchText">Searching...</span>
            </div>
            <div class="spinner-grow left me-3 ps-3" role="status" id="searchSpinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="font-22 ms-auto">
                <i class="bx bx-dots-horizontal-rounded ms-3"></i>
            </div>
        </div>
    </div>
</div>
<div class="poke-card-container p-1" id="pcc-search">
    
</div>
