@using PokeCardManager.Data
@using PokeCardManager.Classes
@using PokeCardManager.Classes.Events
@inject IJSRuntime JS
@inject AddFolderEvent AddFolderEvent

<div class="modal fade" id="createFolderModal" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bx bx-folder-plus me-2"></i> Add New Folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3">
                    <label for="folderName" class="col-sm-4 col-form-label">Name the Folder</label>
                    <div class="col-sm-8">
                        <div class="position-relative input-icon">
                            <input type="text" class="form-control" id="folderName" placeholder="Folder Name" spellcheck="false" @bind="folderName" @onkeypress="CheckNewFolder">
                            <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-message-edit"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="folderType" class="col-sm-4 col-form-label">Select Folder Type</label>
                    <div class="col-sm-8">
                        <div class="position-relative select-icon">
                            <select class="form-select form-control" id="folderType" @oninput="CheckNewFolder" @bind="folderType">
                                <option value="" selected="">Select the type of folder</option>
                                @foreach( var pair in PC.FolderTypes )
                                {
                                    <option value="@pair.Key">@pair.Value</option>
                                })
                            </select>
                            <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-folder"></i></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary disabled" id="folderAdd" @onclick="AddFolder">Add</button>
            </div>
        </div>
    </div>
</div>

@code {

    private IJSObjectReference module;
    private string folderName { get; set; }
    private string folderType { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/Shared/Modals.razor.js");
        }

        await module.InvokeVoidAsync("focusFolderName");
    }

    private void CheckNewFolder()
    {
        module.InvokeVoidAsync("validateFolderName");
    }

    private void AddFolder()
    {
        FolderData folder = new FolderData()
        {
            name       = folderName, 
            folderType = folderType,
        };

        if (AddFolderEvent.AddFolder(folder))
        {
            JS.InvokeVoidAsync("showAlert", $" \"<b>{folder.name}</b>\" added to folders.", "info", @"{""size"":""mini""}");
            folderName = "";
            module.InvokeVoidAsync("closeFolderModal");
        }
        else
        {
            JS.InvokeVoidAsync("showAlert", "Folder already exists", "error");
        }

    }

}

